@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model GestAgropInter.Models.Animal
@{
    ViewData["Title"] = "Coletivo";
}

<style>
#inputfile {
  display: none;
}

</style>
<div class="content-wrapper" style="min-height: 1302.4px;">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cadastro coletivo</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Cadastro Coletivo</a></li>
              <li class="breadcrumb-item active">Cadastrar</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>   
    <section class="content">
      <div class="container-fluid">
        <div class="row">
             <div class="col-12">
               ​<div class="col-md-12">
                   <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Cadastrar Coletivo</h3>
                        </div>
                            <div class="card-body form-group">
                                <input id="Tag" class="form-control form-control-lg" onkeyup="somenteNumeros(this);" type="text" placeholder="Identificação (Tag)">
                                <span class="text-danger"></span>
                                <br>
                                <div class="form-group">
                                    <select asp-for="Sexo" id="lstsexo" class="form-control form-control-lg">   
                                   <option value="Fêmea">Fêmea</option>   
                                   <option value="Macho">Macho</option>  
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label id= "lblAux" hidden></label>
                                    <select name="lista" id="lista" class="form-control form-control-lg">      
                                                @foreach (var item in ViewBag.Fazenda)
                                                {
                                                    <option value="@item.Id">@item.NomeFazenda</option>
                                                }
                                    </select>
                                </div>
                                <div class="input-group input-group-sm">
                                     <button class="btn btn-block btn-success btn-xs" id="Add">Adicionar</button>                        
                                </div>
@*                                <br/>
                                 <form asp-controller="Coletivo" asp-action="ImportarArquivo" method="post" enctype="multipart/form-data">
                                    <div class="input-group" >
                                        <input type="file" id="file"  name="postedFile"  class="form-control form-control-lg" placeholder="Nenhum arquivo selecionado" style="width: 50%;">
                                        <button type="submit" class="btn btn-block btn-success btn-xs" id="AddTodos" style="width: 50%;">Adicionar registros do arquivo</button>   
                                    </div>
                                 </form>*@

                                <br>
                                <div class="input-group input-group-sm" >
                                     <button class="btn btn-block btn-success btn-xs" id="btnSalvar">Salvar</button>                        
                                </div>
                            </div>                
                    </div>
              </div>
            <!-- /.card -->
            </div>
        </div>
        <div class="row">
              <div class="col-12">
                    ​<div class="col-md-12">
                        <div class="card card-success">
                            <div class="card-header">
                                <h3 class="card-title">Lista para inclusão</h3>
                            </div>
                            <div class="card-body table-responsive p-0" ">
                                <table  id="tbl" class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr class="cabecalho">                      
                                        <th>Tag do animal</th>
                                        <th>Sexo do animal</th>
                                        <th>Nome da Fazenda</th>   
                                        <th style="display:none">Id da Fazenda</th>      
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>

              </div>
          </div>                 
      </div>
      
    </section>
</div>
@section Scripts {
    @{       

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <script>

        $("#Add").on("click", function () {
            var tag = document.getElementById('Tag');
            
            if ($("#Tag").val().length < 15) {
                swal({
                title: "Erro!",
                text: "Tag invalida!",
                icon: "warning"
                });
                return false;
            }

            var arr = [];

            $('.item').each(function() {
                var tagAux = $(this).children()[0].innerText;                
                    arr.push(tagAux)
            });

            if (arr.length > 0 && arr.indexOf(tag.value) > -1)
            {
                swal({
                title: "Erro!",
                text: "Já existe uma animal com essa Tag na tabela!",
                icon: "warning"
                });
                tag.value ="";
                return false;
            }
            var select = document.getElementById('lista');
            var option = select.children[select.selectedIndex];
            var texto = option.textContent;   
            
                var selectSexo = document.getElementById('lstsexo');
            var optionSexo = selectSexo.children[selectSexo.selectedIndex];
            var textoSexo = optionSexo.textContent; 

            var linha = '<tr  class="item">';
            linha += '<td>' + tag.value + '</td>';
            linha += '<td>' + textoSexo + '</td>';
            linha += '<td> ' +  texto+ '</td>';         
            linha += '<td style="display:none"> ' +  option.value+ '</td>';  
            linha += '</tr>';            
            $("#tbl tbody").append(linha);

            tag.value ="";

        });

    function verificaTagUnicaTable(num) {

        event.preventDefault();

        var arr = [];

        $('.item').each(function() {
            var tagAux = $(this).children()[0].innerText;
            var sexo = $(this).children()[1].innerText;
            var id = $(this).children()[3].innerText;
            arr.push({ Tag : tagAux, Sexo : sexo, FazendaID : id.trim(), Fazenda : null, FazendaList : null})
        });


        if (num.value.length === 15) {
            $.ajax({
                url: "/Animal/VerificaTag?tag=" + num.value,
                method: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    if (result.mensagem !== "not")
                        swal({
                            title: "Erro",
                            text: "Já existe animal cadastrado com essa Tag",
                            icon: "warning"
                        });
                }
            });
        }
    }

        $("#btnSalvar").click(function(){
            var arr = [];
         
            $('.item').each(function() {
                var tagAux = $(this).children()[0].innerText;
                var sexo = $(this).children()[1].innerText;
                var id = $(this).children()[3].innerText;
                    arr.push({ Tag : tagAux, Sexo : sexo, FazendaID : id.trim(), Fazenda : null, FazendaList : null})
            });        
            if (arr.length > 0) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/Animal/SalvarListaAnimais",
                    data: JSON.stringify(arr),
                    dataType: "json",
                    success: function (result) {
                        if (result.erro=== "false"){
                            swal({
                                title: "Sucesso",
                                text: result.message,
                                    icon: "success"
                            });
                        }else{
                            swal({
                                title: "Erro!",
                                text: result.message,
                                icon: "warning"
                            });
                        }
                    }
                });
            }
            else {
                swal({
                    title: "Erro!",
                    text: "Lista vazia",
                    icon: "warning"
                });
            }
           
        });

    function uploadFile(target) {
        document.getElementById("file-name").value = target.files[0].name;
    }

    </script>    

