@model GestAgropInter.Models.Fazenda
@{
    ViewData["Title"] = "Details";
}

<div class="content-wrapper" style="min-height: 1302.4px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Fazenda</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Fazenda</a></li>
              <li class="breadcrumb-item active">Detalhes</li>
            </ol>
          </div>
        </div>
      </div>
    </section>    
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
              <div class="card-header">
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <a asp-action="Index" class="btn btn-block btn-success btn-xs" >Retornar para Listagem</a>                                
                  </div>
                </div>
              </div>
            ​<div class="col-md-12">
                <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-exclamation-triangle"></i>
                  Detalhes
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="alert alert-info alert-dismissible">                 
                  <h4><i class="icon fas fa-exclamation-triangle"></i> Detalhes da fazenda</h4>
                  <h5>Nome: @Html.DisplayFor(model => model.NomeFazenda)</h5>
                  <h5>Endereço: @Html.DisplayFor(model => model.Endereco)</h5>
                </div>
                <form asp-action="Delete">
                    <div class="input-group input-group-sm" style="width: 300px;">
                       @Html.ActionLink("Editar", "Edit", new { id = Model.Id })                  
                    </div>
                </form>

              </div>
              <!-- /.card-body -->
            </div>
             </div>
            <!-- /.card -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

          <!-- Control Sidebar -->
          <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
              <h5>Title</h5>
              <p>Sidebar content</p>
            </div>
          </aside>
          <!-- /.control-sidebar -->
